@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sacramento&display=swap%27');


/* Mise en page */

.container-fluid.container-photo {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width:991px){
    .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }
    
}
body{
    font-family: montserrat, sans-serif;
}
.background-beige{
    background-color:#F6F2EA;
}

/* TEXTE */

@media screen and (min-width:768px){
    h3{
        font-size: 1.25rem;
    }
    
}
.blue{
    color:#0E018A;
}

h1,h2{
    font-size:3rem;
}

h3,p{
    font-size: 1rem;
}

.sacramento{
    font-family:sacramento;
}
/* bouton radio */
.form-check-input:checked{
    background-color:#E2C453;
    border-color: #E2C453;
    
}
.form-check-input:focus{
    box-shadow: none;
}
.form-select, .form-control, .form-check {
    font-size: 0.75rem;
}
/* bouton  */
.btn{
    background-color:#E2C453;
}

.btn:focus{
    box-shadow: 0 0 0 .25rem #f0ecdc;
}

/* Inputs formulaire  */
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #d5cdaf;
    outline: 0;
    box-shadow: 0 0 0 .25rem #f0ecdc;
}
.form-select:focus {
    border-color:#d5cdaf;
    outline: 0;
    box-shadow: 0 0 0 .25rem #f0ecdc;
}

/**************** Nav bar *******************/

.logo {
    max-width: 150px;
}

.btn--book {
    color: white !important;
    background-color: #0E018A;
    text-align: center;
    padding-top: 7px;
    border: none;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: lighter;
}

.btn--book:hover {
    text-decoration:none;
    color: white;
}

.btn {
    background-color: white;
}

.nav-item {
    margin: 20px;
}


.navbar-collapse {
    flex-grow: 0!important;
}

/* FOOTER */

footer {
    color:#fff;
    background-color: #0E018A;
    font-family: montserrat, sans-serif;
    font-size: 12px;
}

.buttonFooter{
    background-color: #fff !important;
    color:  #0E018A;
    font-family: 'Montserrat';
    margin-left: 40px;
}

.icons{
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 2em;
}

.logoFooter img{
    max-width:150px;
}

footer .partLeft{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
footer .partRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 768px) {
    footer .partLeft{
        justify-content: space-between;
    }
    footer .partRight{
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) {
    .adressFooter {
        border-right: 1px solid;
        border-color: #fff;
    }
}