/* * général 
___________*/
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sacramento&display=swap%27');

* {
    margin: 0;
    padding: 0;
}



h1{
    color: #0E018A;
    font-family: 'Sacramento';
    font-size:3em;
}

h3{
    color: #0E018A;
    font-family: montserrat, sans-serif;
    margin-top:2rem;
}

p{
    color: #707070;
    font-family: montserrat, sans-serif;
    
}

.bgBlue {
    color: #F3F4F4;
    background-color: #0E018A;
}

h2 {
    font-family: 'Sacramento';
    font-size:3em;
    color: #EADECE;
}

.fontMontserrat {
    font-family: montserrat, sans-serif;
}


iframe {
    height:450px;
    width: 450px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    iframe {
        height:350px;
        width: 350px;
    }
}

@media screen and (max-width: 768px) {
    iframe {
        height:280px;
        width: 280px;
    }
    h1{
        font-size:2em;
    }
    h2{
        font-size:2em;
    }
}


/**************** Nav bar *******************/



.logo {
    max-width: 150px;
}

.btn--book {
    color: white !important;
    background-color: #0E018A;
    text-align: center;
    padding-top: 7px;
    border: none;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: lighter;
}

.btn--book:hover {
    text-decoration:none;
    color: white;
}

.btn {
    background-color: white;
}

.nav-item {
    margin: 20px;
}


.navbar-collapse {
    flex-grow: 0!important;
}


/* footer */
footer {
    color: #0E018A;
    background-color: #F6F2EA;
    font-family: montserrat, sans-serif;
    font-size: 12px;
}

.buttonFooter{
    background-color: #0E018A;
    color: #EADECE;
    font-family: montserrat, sans-serif;
}

.icons{
    display: flex;
    justify-content: space-around;
    color: #0E018A;
    font-size: 2em;
}

.logoFooter img{
    max-width:150px;
}

footer .partLeft{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
footer .partRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 768px) {
    footer .partLeft{
        justify-content: space-between;
    }
    footer .partRight{
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) {
    .adressFooter {
        border-right: 1px solid;
        border-color: #0E018A;
        font-family: montserrat, sans-serif !important;
    }
}